
.navbar {
    background-color: black;
    color: white;
    top: 0;
  }
  
  .navbar:hover{
    background-color: white;
    color: black;
    transition: background-color .5s;
  }
  
  .navbar:hover #navbarTab {
  color: black;
  }
  
  #navbarTab {
    color: white;
  }

  #navbarTabDropdown {
      color: black
  }
  
  
  
  li {
    text-align: right;
  
  }