
.navbar {
    background-color: #35306E;
    color: white;
    top: 0;
    text-align: right;
    padding: 40px;
    border-bottom: black 3px solid;
    box-shadow: 5px 4px #888888;
  }
  
  .navbar:hover{
    background-color: #756AF0;
    color: black;
    transition: background-color .5s;
  }
  
  .navbar:hover #navbarTab {
  color: black;
  }
  
  #navbarTab {
    color: white;
    font-family: 'Kaushan Script', cursive;
  }



  #navbarTabDropdown {
      color: black
  }
  
  
  
  li {
    text-align: right;
  
  }

  #navbarRight {
    text-align: right;
  }