#landingPageJumbotron {
  background-image: url('https://www.firstlight.farm/assets/resized/sm/upload/ix/d5/ds/9z/Sliced%20ribeye-0-1440-0-499-crop.jpg?k=dd305b5a92');
  position: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  
}