#landingPageJumbotron {
  background-image: url('https://cdn.shopify.com/s/files/1/0482/3233/files/Ribeye_grande.jpg?1918880110931829887');
  background-color: black;
  position: fixed;
  display: flex;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  text-align: center;
  padding: 0;
  z-index: 0;
  
}

h1 {
  color: white;
}

h2 {
  color: white;
}