
/* footer {
    color: black;
    font-size: 20px;
    text-align: center;
    position: fixed;

  } */
  
  .social-media-icon {
    display: inline-block;
    list-style: none;
    padding: 5px;
    color: white;
  }
  
  i {
    font-size: 30px;
    text-align: center;
    color: white;
  }
  
  /* i:hover {
    color: purple;
    transition: .7s;
    transform: rotate(360deg);
  } */

  .fa-facebook:hover {
    color: #3b5998
  }

  .fa-youtube:hover {
    color: red
  }

  .fa-twitter:hover {
    color: #55acee
  }

  .fa-instagram-square:hover {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  footer {
    background-color: black;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    display: block;
  }